@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;1,100&display=swap');

* {
    font-family: 'Archivo', sans-serif;
}
body{
    background-image: url("https://cdn.pixabay.com/photo/2017/06/20/17/15/wall-2423815__340.jpg");
    background-position: center;
    display: grid;
    box-sizing: border-box;
}


/*<!----------------- Encabezado + Menú inicio ----------------->*/
/*header{
    border-color:snow;
    border-style: groove;
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img{
    border-style: groove;
    border-color: chocolate;
    float: left;
    height: 112px;
    width: 302px;
}

header p{
    float: left;
    width: 25%;
    color: brown;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

header nav{
    font-family: 'Archivo', sans-serif;
    float: right;
    font-weight: bold;
    font-size: 25px;
    margin-left: 350px;
    margin-right: 100px;
    color: brown;
    text-shadow: 2px 2px 2px grey; 
}

nav ul li{
    list-style: none;
    margin-top: 5px;
}

nav a{
    text-decoration: none;
    color: brown;
}

nav a:hover{
    color: whitesmoke;
}

/*<!----------------- Encabezado + Menú cierre ----------------->*/

/*<!----------------- Encabezado + Menú con Bootstrap Inicio ----------------->*/

.navbar-expand-md{
    background-color: brown;
}

.navbar-img{
    border: white;
    border-style: solid;
    border-radius: 10%;
}
.nav-link{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.nav-link:hover{
    color: black;
}



/*<!----------------- Encabezado + Menú con Bootstrap cierre ----------------->*/

/*<!----------------- INDEX Inicio ----------------->*/
.sectionportada{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 700px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}



.obertura{
    font-size: 55px;
}
.portada{
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Archivo', sans-serif;
    font-style: italic;
    font-weight: 1000;
    font-size: 15px;
    float: left;
    margin-top: 50px;
    margin-left: 150px;
}

.div_portada{
    transition: width 2s, height 2s, transform 2s;
}

.div_portada:hover{
    transform : scale(1.1);
}

.img-fluid{
    margin-top: 70px;
    border-style: solid;
    border-color: brown;
}

/*<!----------------- INDEX Cierre ----------------->*/

/*<!----------------- BIOGRAFIA Inicio ----------------->*/

.titulo_biografia{
    color: brown;
    font-weight: bold;
    margin-left: 20px;
}
.biografia_texto{
    text-align: justify;
    text-justify: distribute-all-lines;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.titulo_biografia {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
    margin-left: 100%;
    width: 300%
    }

    to {
    margin-left: 20px;
    width: 100%;
    }
}

/*<!----------------- BIOGRAFIA Cierre ----------------->*/

/*<!----------------- OBRAS Inicio ----------------->*/

.obras{
    display: grid;
    font-family: 'Archivo', sans-serif;
    grid-template-columns: 600px 600px;
    grid-template-rows: 600px 600px 600px 600px;
    grid-auto-flow: row;
    grid-template-areas: 
        "obra1 obra2"
        "obra3 obra4"
        "obra5 obra6"
        "obra7 obra8";
        width: 100%;
        height: 100%;
    padding-top: 100px;
    padding-left: 80px;
    padding-bottom: 100px;
}

.obra1, .obra2, .obra3, .obra4, .obra5, .obra6, .obra7, .obra8{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: baseline;
    font-size: 20px;
    font-weight: bold;
}

.obra2, .obra4, .obra6, .obra8{
    padding-left: 50px;
}

.obra3{
    margin-top: 100px;
}

.obras img{
    border-style: solid;
    border-color: brown;
    padding: 5px;
    float: left;
}

.obra5{
    transform: translateZ(0) scale(1);
    transition-duration: 1s;
}


/*<!----------------- OBRAS Cierre ----------------->*/

/*<!----------------- PARTICIPACIONES Inicio ----------------->*/
/*table{
    display: inline-table;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-top: 100px;
    border-style: solid;
    border: solid;
    border-color: brown;   
}


table tr th{
    color: black;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

table tr td{
    color: black;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}
/*<!----------------- PARTICIPACIONES Cierre ----------------->*/

/*<!----------------- PARTICIPACIONES con Bootstrap Inicio ----------------->*/

.titulo-tabla{
    font-size: 50px;
}
th{
    font-weight: 1000;
    font-size: 20px;
}
td{
    padding: 10px;
    font-weight: 600;
}

/*<!----------------- PARTICIPACIONES con Bootstrap Cierre ----------------->*/

/*<!----------------- CONTACTO Inicio ----------------->*/
/*.contacto{
    color: black;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    position: relative;
}

.h2contacto{
    color: black;
    font-size: 50px;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

.sectioncontacto{
    position: static;
}

.imagencontacto{
    border-style: solid;
    border-color: brown;
    display: block;
    float: right;
    padding: 5px;
    position: relative;
    right: 250px;
    display: inline;
    float: right;
}
/*<!----------------- CONTACTO Cierre ----------------->*/

/*<!----------------- CONTACTO con Bootstrap Inicio ----------------->*/

.h2contacto{
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
    margin-bottom: 30px;
}
.container-contacto{
    width: 600px;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    padding: 25px;
}

.btn-primary{
    background-color: brown;
}

.btn-primary:hover{
    color: black;
}

/*<!----------------- CONTACTO con Bootstrap Cierre ----------------->*/



/*<!----------------- FOOTER Inicio ----------------->*/
footer{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: brown;
    margin-top: 50px;
}

.footer_contacto{
    font-family: 'Archivo', sans-serif;
    float: right;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 100px;
    display: flex;
    float: right;
    font-size: 20px;
    font-weight: 600;
}

footer a:hover{
    color: black;
}

.firmafooter{
    border: white;
    border-style: solid;
    border-radius: 10%;
    float: left;
    margin-left: 50px;
    display: flex;
    height: 56px;
    width: 151px;
}

.footer_redes{
    position: absolute;
    left: 500px;
    display: flex;
}

.instagram{
    margin-right: 200px;
    height: 50px;
    width: 50px;
}

.facebook{
    height: 50px;
    width: 50px;
}
/*<!----------------- FOOTER cierre ----------------->*/


@media only screen and(max-width: 320px){
    header{
        width: 100%;
    }

    footer{
        width: 100%;
    }

    .sectionportada{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .obra1, .obra2, .obra3, .obra4, .obra5, .obra6, .obra7, .obra8{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: baseline;
        font-size: 20px;
        font-weight: bold;
    }
}